
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>
<br />
<h1 style="color:#0026ff">Merhaba Dünya Burası Test Pagesi</h1>

<a href="/Home/Test1" class="btn btn-warning">Test1'e Dön</a>
